.header{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #0067b5;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
#name{
  font-size: xxx-large;
  color:white;
}
button{
  background-color: #0067b5;
  color:white;
  border: 0px;
}
button:hover{
 
    border: 5px solid rgb(26, 165, 219);
  }