nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  top: 0;
  position: fixed;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: xx-large;
}
nav span {
  font-family: 'Bungee', sans-serif;
  font-size: xXx-large;
}

.tweetMenu{
  display:flex;
  flex-direction: column;
}
