

.container{
  margin-top: 2em;
  width:70%;
  display:flex;
  flex-direction: column;
  font-family: sans-serif;
 
}

textarea{
  width:100%;
  border: none;
  border-bottom: 5px solid black;
  resize: none;
  background-color: transparent;
}

.button{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: 'Bungee', sans-serif;
}
.tweet{
  display:flex;
  flex-direction: column;
  margin-top: 2em;
  border: 5px solid black;
  /* min-width: 500px; */
}
article header{
  
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
  
}
.tweet:hover {
  box-shadow: 6px 6px rgba(0, 0, 0, 0.3);
  
}
i:hover{
  color:rgb(161, 119, 3);
}
.person{
    display: inline-flex;
    align-items: center;
    
  }

.content{
  border-bottom: 5px solid black;
  margin: 0.5em;
}
article footer{
  margin-bottom: 0.5em;
  display:flex;
  justify-content:space-between;
  padding:0 0.5em;
}
#section img{
  padding-right:0.5em;
}

#error {
  height: 3em;
  display:flex;
  flex-direction: row;
  align-content: center;
  margin-top: 1em;
  border: 5px solid red;
  padding:0.5em;
  margin-bottom: 1em;
}
#error div{
  padding: 0 2em;
  color: red;
}
.form-red{
  color: red;
}